body {
  font-family: arial;
  margin: 0;
}

.game-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.game-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
}

.board-square {
  font-size: 10rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vh;
  height: 15vh;
  cursor: crosshair;
  background-color: black;
  border: 1px solid white;
}

.game-message {
  font-size: 10rem;
  padding: 20px;
  background-color: white;
  position: absolute;
}

.game-reset-button {
  font-size: 3rem;
}
